<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center>
		<form action="CompanyDetails" method="post">
			<input type="text" placeholder="Username" name="username" required>
			<br>
			<br>
			<input type="text" placeholder="Salary" name="sal" required>
			<br>
			<br>
			<input type="text" placeholder="Deptment Number" name="deptno" required>
			<input type="Submit"  value="Add Details" required>
		</form>
	</center>
</body>
</html>