<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<center>
		<form action="UserInfo" method="post">
			<input type="text" placeholder="Employee Id" name="eid" required>
			<br>
			<br>
			<input type="text" placeholder="Employee First Name" name="firstname" required>
			<br>
			<br>
			<input type="text" placeholder="Employee Last Name" name="lastname" required>
			<br>
			<br>
			<input type="text" placeholder="Employee address" name="address" required>
			<br>
			<br>
			<input type="text" placeholder="Employee Mobile Number" name="mobile" required>
			<br>
			<br>
			<input type="Submit"  value="Add Details" required>
		</form>
	</center>
</body>
</html>